<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>October 2019 - November 2020</p>
            <div class="h5">Ciklum</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Full Stack Web Developer</div>
            <p>
              - Designed and developed Full Stack Java Application for smoke and
              regression automation testing.
            </p>
            <p>
              - Designed and developed Oracle DB Schema for maintaining Test
              Automation Data.
            </p>
            <p>
              - Designed and developed Java/Spring Web Service for interacting
              with Test DB.
            </p>
            <p>
              - Designed and developed Angular application for test data
              front-end using Microsoft VS.
            </p>
            <p>- Test application build via Maven, Spring Boot, Spring Web.</p>
            <p>
              - Teamed as Environment Management for the entire suite of
              applications; reducing application down-times in test
              environments.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>June 2019 - September 2019</p>
            <div class="h5">GoIT Boot Camp</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Web Developer</div>
            <p>
              - Part of a team responsible for designing and building a
              consumer-facing web application for customers, including front-end
              UI and logic.
            </p>
            <p>
              - Designed and implemented new features and billing functionality
              for the customer portal website, including front-end UI,
              controllers, and API queries to back-end API in AngularJS and new
              views styled with HTML, CSS, and JavaScript.
            </p>
            <p>
              - Designed and implemented new features for the back-end API,
              including SQL scripts, controllers, and SOQL queries to Salesforce
              database.
            </p>
            <p>
              - Wrote unit testing specs for front-end code using Jasmine
              framework and Grunt test runner.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>June 2019 - June 2018</p>
            <div class="h5">1+1 media</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Project Manager</div>
            <p></p>
            -Performing business analysis, prepare project documentation and
            plan.
            <p>
              -Managing a project’s scope, schedule, and cost while managing
              risk
            </p>
            <p>
              -Coordinating the activities of the team and indirect support
              resources to produce deliverables agreed upon.
            </p>
            <p>
              -Collaborating partnership with the customer and project team.
            </p>
            <p>-Daily project management throughout the program life cycle.</p>
            <p>
              -Planning the overall program and monitoring the progress on each
              project.
            </p>
            <p>-Tracking deliverables, milestones and change requests.</p>
            <p>-Developing product development schedules.</p>
            <p>-Presenting regular project status upgrades to executive management.</p>
            <p>
              -Handling multiple software projects throughout the entire
              lifecycle.
            </p>
            <p>
              Projects: <a href="https://tsn.ua/">Website</a>,
              <a
                href="https://itunes.apple.com/ua/app/%D1%82%D1%81%D0%BD/id694696014 "
                >iOS, tvOS</a
              >,
              <a
                href="https://play.google.com/store/apps/details?id=ua.tsn.TCH_3&hl=uA"
                >Android</a
              >.
            </p>
            <p>
              Achievement:
              <a
                href="https://tsn.ua/ukrayina/tsn-ua-vstanoviv-istorichniy-rekord-za-ohoplennyam-auditoriyi-1264329.html"
                >Increased of Ukrainian audience scope from 15% up to 25%.
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>April 2017 - June 2018</p>
            <div class="h5">DIVAN.TV</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Project Manager</div>
            <p>
              -Managing risks and issues and taking corrective measurements.
            </p>
            <p>-Managing resources across projects.</p>
            <p>-Tracking deliverables, milestones and change requests.</p>
            <p>-Developing product development schedules.</p>
            <p>
              -Presenting regular project status upgrades to executive
              management.
            </p>
            <p>
              -Handling multiple software projects throughout the entire
              lifecycle.
            </p>
            <p>
              -Monitoring and enhancing software development, troubleshooting
              and QA process.
            </p>
            <p>
              -Writing and preparing technical documentation for each project.
            </p>
            <p>
              -Communicating between management groups and development teams.
            </p>
            <p>
              -Working with designers, developing solutions for each project for
              writing technical tasks.
            </p>
            <p>
              Projects: <a href="https://divan.tv/">Website</a>,
              <a
                href="https://apps.apple.com/cy/app/divan-tv-films-and-tv-online/id666753485"
                >iOS, tvOS</a
              >,
              <a
                href="https://play.google.com/store/apps/details?id=divan.tv.DivanTV"
                >Android, Android TV</a
              >,
              <a
                href="https://channelstore.roku.com/en-gb/details/147679/divan.tv"
                >Roku TV</a
              >.
            </p>
            <p>
              Achievement:
              <a
                href="https://www.facebook.com/permalink.php?story_fbid=1233993690076764&id= 745427952266676&__tn__=K-R"
                >The best TV Applications of 2018 Ukrainian pay TV segment.
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>October 2014 - March 2017</p>
            <div class="h5">Infopulse</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Full stack Web Developer</div>
            <P
              >-Developed Web based application to provide online payment
              services. The web application provides functionalities such as
              policy management, profile management, and payment management.
              Customers can get access to payments details, history, benefits
              etc.</P
            >
            <P
              >-Developed the presentation layer using Java, , Java Script, MVC,
              JQuery, HTML, CSS, Servlets and JSPs.</P
            >
            <P
              >-Used Spring MVC Framework IOC (Inversion of Control) to have
              relationships between application components. It is also used to
              separate the application configuration and dependency
              specification from the actual application code.</P
            >
            <P
              >-Created SOAP web service for sending payment processing
              informational data to third companies. Tested SOAP web services
              using SOAP UI.</P
            >
            <P
              >-Implemented the J2EE core design patterns – Front Controller,
              DAO, Facade and MVC.</P
            >
            <P
              >-Created the tables and views using SQL in DB2 to test the DAO
              functionality.</P
            >
            <P
              >-Involved in writing SQL queries for retrieving data from RDBMS
              DB2.</P
            >
            <P
              >-Implemented database access with Hibernate object relational
              mapping tool.</P
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
